@import url('https://fonts.googleapis.com/css2?family=Big+Shoulders+Display:wght@200&family=Comforter&family=Poppins:wght@300;400&display=swap');
*{
  margin:0;
}
body {
  margin: 0;
  padding:0;
  font-family:poppins;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}


.Search-Input{
  width:30%;
  height:100px;
  background:white;
  box-shadow: 0 0 10px black;
  border-radius: 10px;
  margin-left:30%;
}